.dashboard-container {
    padding: 20px;
    text-align: center;
  }
  
  .user-info {
    margin-top: 20px;
    font-size: 18px;
  }
  
  .logout-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff6f61;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .logout-btn:hover {
    background-color: #e64a3d;
  }
.my-state-container {
    background-color: #f9fafb;
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    padding: 10px;
    border-bottom: 1px solid #e5e7eb;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  .text-green-500 {
    color: #10b981;
  }
  