<div class="flex flex-col min-h-screen bg-gray-100">
  <!-- Navbar -->
  <header class="bg-blue-600 text-white p-4 flex justify-between items-center">
    <h1 class="text-xl font-semibold">Expense Tracker</h1>
    <div class="relative">
      <button
        class="text-white flex items-center space-x-2"
        (click)="toggleDropdown()"
      >
        <span>{{ username }}</span>
        <svg
          class="w-5 h-5"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"
          ></path>
        </svg>
      </button>

      <!-- Dropdown Menu -->
      <div
        *ngIf="dropdownVisible"
        class="absolute right-0 mt-2 w-48 bg-white shadow-md rounded-lg z-10"
      >
        <ul>
          <li>
            <a
              href="#"
              (click)="logout()"
              class="block px-4 py-2 text-gray-800 hover:bg-gray-200"
              >Logout</a
            >
          </li>
        </ul>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="dashboard-container p-6 flex-1">
    <h2 class="text-2xl font-semibold mb-4">Welcome, {{ username }}</h2>
    <div class="mb-4 text-lg">
      <p>{{ currentDate }} ({{ daysLeft }} day(s) Left)</p>
    </div>
    <!-- My State Section -->
    <div
      class="my-state-container max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-md"
    >
      <h3 class="text-xl font-semibold mb-4">My State</h3>

      <div class="flex items-center justify-between mb-6">
        <div class="w-1/2">
          <!-- Left: Texts for Expenses Data -->
          <div class="mb-4">
            <p class="text-lg font-medium">Current Monthly Expenses:</p>
            <p class="text-2xl font-semibold">${{ currentMonthlyExpenses }}</p>
          </div>
          <div class="mb-4">
            <p class="text-lg font-medium">Max Monthly Expenses:</p>
            <p class="text-2xl font-semibold">${{ maxMonthlyExpenses }}</p>
          </div>
          <div class="mb-4">
            <p class="text-lg font-medium">Expenses Percentage:</p>
            <p class="text-2xl font-semibold">
              {{ expensesPercentage | number : "1.0-2" }}%
            </p>
          </div>
        </div>

        <div class="w-1/2 pl-8">
          <!-- Right: Progress Bar and Update Max Expenses -->
          <div class="mb-6">
            <label
              for="expenses"
              class="block text-sm font-medium text-gray-700"
              >Expense Progress</label
            >
            <div class="mt-2">
              <div class="w-full h-2 rounded-full bg-gray-300">
                <div class="w-full h-2 rounded-full bg-gray-300">
                    <div
                      class="h-2 rounded-full"
                      [ngClass]="{
                        'bg-red-500': expensesPercentage > 100,
                        'bg-yellow-500': expensesPercentage <= 100 && expensesPercentage > 70,
                        'bg-green-500': expensesPercentage <= 70
                      }"
                      [style.width.%]="expensesPercentage > 100 ? 100 : expensesPercentage"
                    ></div>
                  </div>
                  
              </div>
            </div>
          </div>

          <!-- Update Max Monthly Expenses -->
          <div class="flex items-center">
            <input
              type="number"
              [(ngModel)]="maxMonthlyExpenses"
              class="input-field w-32 p-2 border rounded-lg"
              placeholder="New Max"
            />
            <button
              (click)="updateMaxExpenses(maxMonthlyExpenses)"
              class="ml-2 px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700"
            >
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Expenses List Section -->
<div class=" my-6 my-state-container max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-md">
    <h3 class="text-xl font-semibold mb-4">Add Expenses</h3>
  

    <!-- Amount Field -->
    <div class="mb-4 mt-2">
      <label for="amount" class="block text-sm font-medium text-gray-700">Amount</label>
      <input
        type="number"
        [(ngModel)]="amount"
        name="amount"
        class="w-full p-2 mt-2 border rounded-lg"
        placeholder="Enter amount"
        required
      />
    </div>
  
    <!-- Description Field -->
    <div class="mb-4">
      <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
      <textarea
        [(ngModel)]="description"
        name="description"
        class="w-full p-2 mt-2 border rounded-lg"
        placeholder="Enter a brief description"
        rows="4"
      ></textarea>
    </div>
  
     <!-- Category Dropdown -->
     <div class="mb-4">
        <label for="category" class="block text-sm font-medium text-gray-700">Category</label>
        <select [(ngModel)]="selectedCategoryId" class="w-full p-2 mt-2 border rounded-lg">
          <option value="" disabled>Select Category</option>
          <option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </option>
        </select>
      </div>

    <!-- Submit Button -->
    <div class="mt-6">
      <button
        (click)="addExpense()"
        class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 w-full"
      >
        Add Expense
      </button>
    </div>
  </div>

  <!-- List of expenses -->
  <div class="my-6 my-state-container max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-md">
    <h3 class="text-xl font-semibold mb-4">Expenses List</h3>
  
    <!-- Display list of expenses in table format -->
    <div *ngIf="expenses.length > 0; else noExpenses">
      <table class="min-w-full table-auto border-collapse">
        <thead>
          <tr class="bg-gray-100 text-left text-center">
            <th class="px-4 py-2 border-b text-sm font-medium text-gray-700">Date</th>
            <th class="px-4 py-2 border-b text-sm font-medium text-gray-700">Amount</th>
            <th class="px-4 py-2 border-b text-sm font-medium text-gray-700">Category</th>
            <th class="px-4 py-2 border-b text-sm font-medium text-gray-700">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let expense of expenses" class="border-b">
            <td class="px-4 py-2 text-sm text-gray-800">{{ expense.date | date: 'long' }}</td>
            <td class="px-4 py-2 text-sm text-green-500">${{ expense.amount }}</td>
            <td class="px-4 py-2 text-sm text-gray-700">
              {{ getCategoryName(expense.categoryId) }}
            </td>
            <td class="px-4 py-2 text-sm">
              <!-- View Button with Icon -->
              <button (click)="viewExpense(expense)" class="text-blue-500 hover:text-blue-700">
                <i class="fas fa-eye"></i> 
              </button>
              <!-- Delete Button with Icon -->
              <button (click)="deleteExpense(expense)" class="text-red-500 hover:text-red-700 ml-4">
                <i class="fas fa-trash"></i> 
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <!-- No expenses message -->
    <ng-template #noExpenses>
      <p>No expenses available for this user.</p>
    </ng-template>
  </div>

  <!-- Pie chart (Chart.js) -->
<div class="my-6 max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-md">
    <h3 class="text-xl font-semibold mb-4">Expenses by Category</h3>
    <div id="pieChartDiv">
        <canvas id="pieChart" ></canvas>
    </div>
  </div>
</div>
